/*
NAVEGATION BAR
*/
#nvar {
    width: 100%;
    background-color: rgb(49, 169, 255);
}


/* Titulo del Puerto*/
.titulo {
    text-align: center;
    background-image: url("../images/fondoPort.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-shadow: 1px 1px 10px #000000;
}


/*Descripción i caracteristicas del puerto*/

/* Estilos para la descripción del puerto */
#desc-video {
    background-color: #7ab9ed;
}
#port-descr {
  font-size: 20px; /* Tamaño del texto, ajusta según tus necesidades */
  display: inline-block; /* Convierte el span en un elemento de bloque */
}

#port-descr::first-letter {
  font-weight: bold; /* Hace que la primera letra sea negrita */
  font-size: 27px;
}

#videoPuerto {
    margin-top: 15px;
}

#car-tiempo {
    margin-top: 70px;
    margin-bottom: 50px;
}

.container-bg-gray {
    background-color: #6e3a3a;
    padding: 20px;
}

.mb-3 p {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-left: 50px;
    font-family: "Helvetica Neue", sans-serif;
}


.texto::first-letter {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    /* Este valor es fijo */
    position: relative;
    height: 0;
}

.embed-responsive-16by9 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


.table {
    margin-left: 50px;
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Verdana;
  }
  
  .table td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  .table tr:nth-child(even) {
    background-color: #D1E8F7;
  }
  
  .table tr:nth-child(odd) {
    background-color: #7ab9ed;
  }
  
  .table i {
    margin-right: 10px;
  }
  
  .table strong {
    font-weight: bold;
  }
  
  .table .rating {
    display: flex;
    align-items: center;
  }
  
  .table .rating .fa-star {
    color: gold;
  }
  
  .table #valoracioEstrella {
    margin-left: 5px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
  }

  .table .col-right span {
    font-weight: bold;
  }

/*valoracion*/
.checked {
    color: orange !important;
    display: inline-block;
    margin-right: 5px;
}


/*CAROUSEL DE IMAGENES DEL PUERTP*/
.carousel-img {
  max-height: 700px; /* Ajusta la altura máxima según tus preferencias */
}




/*MAPA*/
#contenedorMapa {
    margin: 20px auto;
    padding: 20px;
    background-color: #ece7e7;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 20px #ddd;
    width: 80%;
    max-width: 1200px;
    align-items: center;
}

#titolMapa h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#map {
    height: 500px;
    width: 100%;
}
/*sitios de interes*/
#seccion-columnas {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-top: 200px;
  }

  #tiempo {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    margin-top: 40px;
    margin-right: 120px;
  }
  
  #tiempo h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #tiempo img {
    height: 90px;
    width: 90px;
    margin-right: 10px;
  }

  #tiempo .box {
    display: flex;
    margin-top: 20px;
    
 }
 #addToFavoritesBtn {
  background-color: #7ab9ed;
  color: white;
  border-radius: 10px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
}
#addToFavoritesBtn:hover {
  background-color: darkblue;
}
 .box2 {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

#tiempo p{
  font-weight: bold;
}

 
  
  #tiempo span {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
 
  
  [aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
  }

  .card {
    width: 18rem;
    height: 90%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    transform: scale(1);
    margin-top: 20px;
  
    
}



.card:hover {
    transform: scale(1.1);
  }

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body ul {
    margin-bottom: 0;

    margin-bottom: 10px;

}

.card-body p {
    font-size: 16px;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checked {
    color: orange;
}

.valoracionPuertoPrev {
    font-size: 18px;
    margin-left: 5px;
}


.equal-width .card {
    width: 100%;
}

.card-img-top {
    height: 30vh;
    object-fit: cover;
}

footer {
  margin-bottom: auto;

}
  
