/* NAVEGATION BAR */
#nvar {
  width: 100%;
  background-color: #e3f2fd;
}

#contenidorLogo {
  padding-left: 0;
  padding-right: 0;
}

.product .img-responsive {
  margin: 0 auto;
}

path {
  fill: #1da1f2;
}

path:hover {
  fill: purple;
  stroke: red;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.container {
  display: inline-block;
}

.carousel-slide img {
  max-height: 400px;
  max-width: 100%;
}

.row {
  margin-top: 50px;
  margin-left: 25px;
}

.descripcion {
  background-color: #f1f1f1;
  padding: 30px;
}

.titulo {
  margin-top: 85px;
  margin-left: 25px;
}


/*CAROUSEL*/

.carousel img{
  height: 700px;
}

#caption-top1{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
}

#caption-top2{
  position: absolute;
  top: 80px;
  left: 0;
  right: 300px;
  text-align: center;
}

#caption-top3{
  position: absolute;
  top: 325px;
  left: 0;
  right: 0;
  text-align: center;
}

/*Barra de filtros*/
/* Establecer la dirección y la alineación de los elementos */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Permitir que los elementos se ajusten al tamaño del contenedor */
.col-sm-12, .col-md-6, .col-lg-3 {
  flex-grow: 1;
  flex-shrink: 1;
}

/* Establecer el margen inferior de los filtros */
.input-group, .form-check {
  margin-bottom: 10px;
}



/* PREPUERTOS*/

#prePuertos{
  margin-bottom: 100px;
}

.card {
  width: 17rem;
}


/* FOOTER */
#facebook {
  background-color: #3b5998;
}

#twitter {
  background-color: #55acee;
}

#google {
  background-color: #dd4b39;
}

#instagram {
  background-color: #ac2bac;
}

#linkedin {
  background-color: #0082ca;
}

#github {
  background-color: #333333;
}

#copyright {
  background-color: rgb(144, 153, 161);
}

/* MAPA */

#contenedorMapa {
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px #ddd;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}
#map {
  height: 500px;
  width: 50%;
  border: none;
  margin-top: 20px;
}


/* PUERTOS */
#contenedor-general {
  margin-top: 10px;
}
.titulo {
  text-align: center;
  margin-bottom: 15px;
}

.titulo h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(24, 92, 147);
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #ccc;
}


.carousel-inner img {
  max-height: 500px;
}
#gallery2 {
  position: absolute;
  margin-top: 3px;
  right: 170px;
  height: 3000px;
}

.rating span {
  font-size: 50px;
  display: inline-block;
}

.rating {
  display: inline-block;
}

.checked {
  color: orange !important;
  display: inline-block;
  margin-right: 5px;
}
#mapaint2 {
  display: flex;
  flex-direction: column;

}

#caracteristicas {
  background-color: #f8f8f8;
  margin-top: 3px;
  padding: 20px;
  margin-bottom: 15px;
  width: 700px;
  text-align: left;
  float: left;
  margin-right: 1200px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#caracteristicas h4 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

#caracteristicas ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#caracteristicas li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

#caracteristicas li:before {
  content: "\2022";
  color: #9b9b9b;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#rating{
  margin-bottom: 50px;
}

.filterSearchPuerto {
  background-color: rgb(42, 17, 131);
  border-radius: 25px;
} 



/*
Cercador a lo logitravel
*/
.filterSearch {
  background-color: orange;
  border-radius: 25px;
} 

