/*
NAVEGATION BAR
*/
#nvar {
    width: 100%;
    background-color: rgb(49, 169, 255);
}


/* Titulo del Puerto*/
.titulo {
    text-align: center;
    background-image: url("fondoPort.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 70px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-shadow: 1px 1px 10px #000000;
}


/*Descripción i caracteristicas del puerto*/

/* Estilos para la descripción del puerto */
#desc-video {
    background-color: #989a9a;
}

#videoPuerto {
    margin-top: 15px;
}

#car-tiempo {
    margin-bottom: 50px;
}

.container-bg-gray {
    background-color: #6e3a3a;
    padding: 20px;
}

.mb-3 p {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-left: 50px;
    font-family: "Helvetica Neue", sans-serif;
}


.texto::first-letter {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    /* Este valor es fijo */
    position: relative;
    height: 0;
}

.embed-responsive-16by9 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#tiempo img {
    margin-top: 50px;
    max-width: 200%;
    max-height: 100%;
}


/* Estilos para la lista de características */
.list-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: none;
    font-size: 1rem;
    color: #555;
    gap: 25px;
}

.list-group-item:nth-child(even) {
    background-color: #f7f7f7;
}

.list-group-item strong {
    display: inline-block;
    /* hacemos que los elementos sean bloques en línea */
    width: 120px;
    /* establecemos un ancho para que los elementos sean del mismo tamaño */
    text-align: center;
    /* centramos el texto horizontalmente */
    margin-right: 10px;
    /* agregamos un margen a la derecha para separar el texto del valor */
    vertical-align: middle;
    /* centramos verticalmente el texto */
}

.list-group-item span {
    font-weight: 600;
}

.rating {
    display: flex;
    align-items: center;
}

.checked {
    color: orange;
}

.rating p {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
}

#valoracioEstrella {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
}

/*valoracion*/
.checked {
    color: orange !important;
    display: inline-block;
    margin-right: 5px;
}



/*MAPA*/
#contenedorMapa {
    margin: 20px auto;
    padding: 20px;
    background-color: #ece7e7;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 20px #ddd;
    width: 80%;
    max-width: 1200px;
    align-items: center;
}

#titolMapa h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#map {
    height: 500px;
    width: 100%;
}
/*sitios de interes*/
#seccion-columnas {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-top: 200px;
  }